.item-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#item-image {
  width: 100%;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr;
}

.information-container {
  padding: 2rem;
  color: white;
}

.qty-price-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#up-down-container {
  display: grid;
}

#quantity-container {
  display: flex;
  align-items: center;
}

#qty-text {
  padding-right: 1rem;
}

#size-container {
  display: flex;
  font-size: 1rem;
  justify-self: center;
  justify-content: space-around;
}

.small {
  width: 2rem;
  border: 1px solid white;
  padding: 0.9rem;
}

.medium {
  width: 2rem;
  border: 1px solid white;
  padding: 0.9rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.large {
  width: 2rem;
  border: 1px solid white;
  padding: 0.9rem;
}

.selected {
  border: 1px solid red;
  /* width: 2rem; */
  /* padding: 0.9rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem; */
}

.info {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid red;
  position: sticky;
  top: 9rem;
}

#add-btn {
  color: white;
  background-color: red;
  padding: 1rem;
  border: 0;
}

#add-btn:active {
  scale: 1.1;
}

@media (max-width: 450px) {
  .item-page-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .information-container {
    grid-row-start: 1;
  }

  .info {
    position: static;
  }
}
